In [1]:
import pandas as pd
df= pd.read_csv("movies.csv")
df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [308]:
# 1 
# Can you print the first 10 records. v1
import pandas as pd
df= pd.read_csv("movies.csv")

df.iloc[:10:]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089741,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010

In [305]:
# 1 
# Can you print the first 10 records. v2

import pandas as pd
df= pd.read_csv("movies.csv")
df.head(10)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
7,Waitress,Romance,Independent,67,11.089741,89,$22.18,2007
8,Waiting For Forever,Romance,Independent,53,0.005000,6,$0.03,2011
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,17,$217.57,2010

In [300]:
# 2
# What are the data types of the columns. FAIL

import pandas as pd
df= pd.read_csv("movies.csv")
df.dtypes

Film                  object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [145]:
# 3
# Count of Animation movies.
# Hint: use the count() function

import pandas as pd
df= pd.read_csv("movies.csv")
(df[df['Genre'] == "Animation"]["Film"].count())

4

In [466]:
# 3 alternative
df.Genre.value_counts()["Animation"]

4

In [470]:
# replace
df['Genre'] = df['Genre'].replace(['Comdy','comedy','Romence','romance'],['Comedy','Comedy','Romance','Romance'], inplace=True)
df['Genre'].replace(['Comdy','comedy','Romence','romance'],['Comedy','Comedy','Romance','Romance'], inplace=True)

In [184]:
# 4
# Show the Comedy movies in the year 2007.
import pandas as pd
df= pd.read_csv("movies.csv")
df[(df['Genre'] == 'Comedy') & (df['Year'] == 2007)]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007

In [251]:
# 5
# Count of Animation movies with more than 70% Audience Score.

import pandas as pd
df= pd.read_csv("movies.csv")
(df[(df['Audience score %'] > 70) & (df['Genre'] == 'Animation') ]["Film"].count())

2

In [257]:
# 6
# Show the list of top 5 movies based on profitability.

import pandas as pd
df= pd.read_csv("movies.csv")
df.sort_values(by = "Profitability", ascending = False ).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
68,Fireproof,Drama,Independent,51,66.934000,40,$33.47,2008
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,27,$709.82,2009
7,Waitress,Romance,Independent,67,11.089741,89,$22.18,2007
12,Twilight,Romance,Summit,82,10.180027,49,$376.66,2008

In [304]:
# 7 
# Show the top 5 Comedy movies approved by the audience. (hint : Audience Score)

import pandas as pd
df= pd.read_csv("movies.csv")
(df.sort_values(by = "Audience score %", ascending = False ) [df['Genre'] == 'Comedy'].head(5))

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008

In [465]:
# Extra exercises
# Show the movies with more than 70% Audience Score & greater than $350 Worldwide Gross.
import pandas as pd
df= pd.read_csv("movies.csv")
df['Worldwide Gross']
df['Worldwide Gross'] = df['Worldwide Gross'].astype(int)
df[(df['Audience score %'] > 70) & (df['Worldwide Gross'] > 350)]

ValueError: invalid literal for int() with base 10: '$41.94 '

In [469]:
df.drop_duplicates()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,None,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,None,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,None,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,None,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,None,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,None,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,None,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,None,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,None,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,None,Fox,81,8.096000,87,$60.72,2009